.chapter-manual {
    width: 70px;
    position: fixed;
    top: 102px;
    right: 40px;
    // margin: initial;
    background-color: #e1e8e8;
    border-radius: 4px;
    box-shadow: 0 6px 6px 0 rgba($color: #000000, $alpha: 0.2);
    &__item {
        z-index: 10;
        position: relative;
        > a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            position: relative;
            i {
                z-index: 10;
            }
        }
        &.active {
            a {
                z-index: 10;
            }
            a::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0px;
                height: 100%;
                width: 100px;
                background-color: white;
            }
            background-color: white;
            & > .chapter-manual__popup {
                display: block;
            }
        }
    }
    &__item .chapter-manual__popup {
        display: none;
        position: absolute;
        top: 0;
        right: 80px;
        padding: 10px;
        background-color: white;
        z-index: 2;
        min-width: 500px;
        box-shadow: 0 10px 10px 0px rgba($color: #000000, $alpha: 0.2);
    }
}

.chapter-setting {
    table {
        width: 100%;
        padding: 20px;
        tr {
            margin-bottom: 15px;
        }
    }
    &__label {
        width: 100%;
        display: inline-flex;
        gap: 10px;
        align-items: baseline;
    }
    &__input {
        width: 100%;
        justify-content: space-between;
        padding: 6px 10px;
        button {
            border: none;
        }
    }
}
